html {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100%;
    position: relative;
}

body {
    display: grid;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    margin-bottom: 0px;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    color: RGB(29,135,236);
}

a {
    text-decoration: none;
    color: RGB(29,135,236);
}

.red-text {
    color: RGB(218,84,70);
}

.bluebtn-allcaps {
    text-transform: uppercase;
    background-color:RGB(29,135,236);
    color: white;
    border: 2px solid RGB(29,135,236);
    border-radius: 20px;
    padding: 5px;
    margin: 7px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

.bluebtn-allcaps:hover {
    background-color:white;
    color: RGB(29,135,236);
    border: 2px solid RGB(29,135,236);
}

.bluebtn-allcaps-large {
    text-transform: uppercase;
    background-color:RGB(29,135,236);
    border: 2px solid RGB(29,135,236);
    border-radius: 20px;
    padding: 5px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    height: 45px;
    font-size:15px;
    color:white;
    margin-left: 10px;
}

.bluebtn-allcaps-large:hover {
    background-color:white;
    color: RGB(29,135,236);
    border: 2px solid RGB(29,135,236);
}

.redbtn-allcaps {
    text-transform: uppercase;
    background-color:RGB(218,84,70);
    color: white;
    border: 2px solid RGB(218,84,70);
    border-radius: 20px;
    padding: 5px;
    margin: 7px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

.redbtn-allcaps:hover {
    background-color:white;
    color: RGB(218,84,70);
    border: 2px solid RGB(218,84,70);
}

header {
    position: fixed;
    background-color: RGB(29,135,236);
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    height:15%;

}

.main {
    margin-top: 15%;
}

.navbartop {
    display: inline;
}
#signuplink {
    background-color:RGB(29,135,236);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    margin: 7px 7px 7px 7px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

#signuplink:hover {
    background-color:white;
    color: RGB(29,135,236);
}

.navbartop a {
    color: white;
    text-decoration: none;
    display: inline;
    position:relative;
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    font-family: 'Roboto Condensed';
    background-color: RGB(29,135,236);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*display: inline-block;*/
}

#dropwdownHolder{
    border:2px solid black;
}

#navTable{
    width:100%;
    table-layout: fixed;
    margin-top: -20px;
}

#navTable td{
    text-align: left;
}

#navTable td:first-child{
    width:15%;
    text-align: center;
}
#navTable td:nth-child(2){
    text-align: center;
    width:60%;
}

#navTable td:nth-child(3){
    text-align: right;
    width:10%;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: RGB(29,135,236);
}

table td {
    text-align: right;
}

form {
    display: inline-block;
}

.formlabel {
    float: right;
    padding-right: 10px;
}

select {
    width: 95%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

input[type=text] {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

input[type=date] {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

input[type=email] {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

input[type=password] {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

input[type=number] {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

input[type=file] {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

textarea {
    width: 90%;
    padding: 4px;
    border: solid 2px RGB(196,196,196);
    border-radius: 15px;
    margin: 5px;
}

.navbartop input[type=text] {
    padding: 5px;
    border: none;
    height:25px;
    width:750px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

nav {
    align-content: center;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 7px 7px 0px 0px;
}

nav a {
    margin-left:10px;
    padding: 5px;
    text-decoration:none;
    color:white;
    display: inline;
    border-radius: 20px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

nav a:first {
    margin-left:10px;
}

nav a:last {
    margin-right:0;
}

nav a:hover{
    background-color:white;
    color: RGB(29,135,236);
}

#logo{
    font-weight:bold;
    font-size:25px;
    left:10;
    top: 0;
    color: white;
    font-family: 'League Spartan', sans-serif;
}


#ad {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#ad ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#ad ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1100px;
    height: 200px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.product-grid {

}

.heading {
    border-bottom: solid RGB(29,135,236) 3px;
    margin: 20px;
}

.container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#login {
    display: block;
    padding: 20px;
    text-align: center;
}

#loginwarning {
    text-align: center;
    margin: 20px;
    color: RGB(218,84,70);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

#wrapperFoot{
    min-height: 100%;
    height:-90px;
}

footer{
    background-color:#3a3939;
    color:white;
    width: 100%;
    height:90px;
    text-align: center;
    padding-top: 10px;
}

footer a{
    text-decoration: none;
    color:white;
}

#dambuhala{
    height:1000px;
}

#bodFot{
    margin:0;
    padding:0;
}

/*---------PRODUCT PAGE---------*/

#holderProd{
    width:100%;
    height:70%;
    display: inline-block;
    display: flex;
}
#holderProd > div:nth-child(2) { flex: 1; }
#picProd{
    width:50%;
    height:100%;
}

#picProd .imgProd{
    margin-left:10%;
    margin-top:8%;
    width:80%;
    height:100%;
}
#details{
    width:40%;
    height:100%;
    float: right;
    top:0;
    padding:20px;
}

#details .pName{
    font-size:36px;
    text-align: justify;
    font-weight: bolder;
}

#details .pPrice{
    font-size:20px;
    text-align: justify;
    font-weight: bold;

}

#details .pDescription{
    font-size:15px;
    text-align: justify;
}

#tranProd{
    margin-top:50px;
}

#scrollQuantity{
    height:40px;
    width:50px;
    font-size:13px;
}

/* productStyle.css */
#holderProd{
    width:100%;
    height:70%;
    display: inline-block;
    display: flex;
}
#holderProd > div:nth-child(2) { flex: 1; }
#picProd{
    width:50%;
    height:100%;
}

#picProd .imgProd{
    margin-left:10%;
    margin-top:8%;
    width:80%;
    height:110%;
}
#details{
    width:40%;
    height:100%;
    float: right;
    top:0;
    padding:20px;
}

#details .pName{
    font-size:36px;
    text-align: justify;
    font-weight: bolder;
}

#details .pPrice{
    font-size:20px;
    text-align: justify;
    font-weight: bold;

}

#details .pDescription{
    font-size:15px;
    text-align: justify;
}

#tranProd{
    margin-top:50px;
}

#btnAddCart{
    height: 45px;
    font-size:15px;
    background-color: RGB(29,135,236);
    border: none;
    color:white;
    margin-left: 10px;
}

#scrollQuantity{
    height:40px;
    width:50px;
    font-size:13px;
}

/* Admin Home */
#adminSection{
    margin-left:10%;
    margin-top: 10%;
}

#adminBody{
    text-align: center;
    margin:0;
    padding:0;
}

#productList th{
    font-weight: bolder;
    font-size: 20px;
}

#titleH{
    font-weight: bolder;
    font-size:30px;
}

#btnAdminAdd{
    float: right;
    margin-right: 10%;
    height: 45px;
    font-size:15px;
    background-color: RGB(29,135,236);
    border: none;
    color:white;
}
/* Category CSS */
#overallSection{
    width:100%;
    height:70%;
    display: inline-block;
    display: flex;
}
#overallSection > div:nth-child(2) { flex: 1; }
#picProd{
    width:50%;
    height:100%;
}

#priceFilter input[type="number"] {
    height:40px;
    width:50px;
    font-size:13px;
}

#filteringSection{
    width:20%;
    padding:20px;
    font-size: 18px;
}
#outputSection{
    width:80%;

}
#priceLabel{
    font-weight: bold;
}

#brandLabel{
    font-weight: bold;
}

#submitPrice{
    height: 45px;
    font-size:15px;
    background-color: RGB(29,135,236);
    border: none;
    color:white;
    font-weight: bold;
}

#outputSection{
    display: grid;
}

.divProduct{
    margin-left:3px;
}

/*Confirmation and Thank you */
#headConfirm{
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
#holdingAllCon{
    height:80%;
    margin-top: 5%;
}
#confirmHolder{

    float: right;
    width: 60%;
}
#imageConfirm{

    float:left;
    width:35%;
}
#productPicConfirmation{
    margin-left:55%;
}
#productPicConfirmation{
    border: 1px solid black;
    width:200px;
    height: 200px;
}

#confirmHolder p{
    font-size: 25px;
    font-weight: bolder;
}

#confirmHolder #phraseConfirm{
    font-size: 20px;
    font-weight: bold;
}

#buttonsConfirm button{
    border-radius:10px;
    margin-top: 1%;
}
#btnConfirmPurchase{
    height: 45px;
    width:80px;
    font-size:15px;
    background-color: RGB(29,135,236);
    border: 2px solid RGB(29,135,236);
    border: none;
    color:white;
}
#btnCancelPurchase{
    height: 45px;
    margin-left: 1%;
    width:80px;
    font-size:15px;
    background-color: RGB(191, 69, 63);
    border: 2px solid RGB(29,135,236);
    border: none;
    color:white;
}

#buttonsConfirm{
    width: 100%;
}
#tyNote{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
/*  updated part ng catagories */

#outputTable{
    margin-top: 5%;
    width:80% ;

}
#outputTable td{
    border:2px solid black;
    text-align: center;
}
#outputTable td:first-child{
    width:70%;
}
#outputTable td:nth-child(2){
    width:10%;
}
#outputTable td:nth-child(3){
    width:20%;
}